{{ attach_library('union_organizer/banner') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-banner']) %}
{% set content_attributes = union_attributes(content_attributes|default([])) %}
{% set content_attributes = content_attributes.addClass(['cu-banner__content']) %}

<div{{ attributes }}>
  {% if heading %}
  <div class="cu-banner__header">
    <h2 class="cu-banner__heading">{{ heading }}</h2>
  </div>
  {% endif %}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
  <div class="cu-banner__media">
    {{ media }}
  </div>
</div>
