{{ attach_library('union_organizer/course-teaser') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-course-teaser']) %}

<div{{ attributes }}>
  <h3 class="cu-course-teaser__title cu-heading">{{ title }}</h3>
  <h4 class="cu-course-teaser__label cu-heading">{{ label }}</h4>
  <p class="cu-course-teaser__description">{{ description }}</p>
  <ul class="cu-course-teaser__details">
  {% for detail in details %}
    <li class="cu-course-teaser__detail">{{ detail }}</li>
  {% endfor %}
  </ul>
  {% if more_link %}
  <p class="cu-course-teaser__more-link"><a href="{{ more_link.url }}">{{ more_link.text }}</a></p>
  {% endif %}
  <div class="cu-course-teaser__cta">
    <a href="{{ cta.url }}" class="cu-button cu-course-teaser__action">{{ cta.text }}</a>
  </div>
</div>
