{#
/**
 * Card
 *
 * A card represents a small piece of content, like an article teaser or a promo.
 * An optional media element, an image or a video, may be included. There are
 * multiple card variants, including:
 *
 * - promo
 * - teaser
 *
 * @var string $card_content The primary content of the card, often markup.
 * @var string $card_media Optional media (img, video, or any other CSS replaced element).
 * @var string $heading Main heading title for the banner.
 * @var string $eyebrow_heading A descriptive keyword or phrase placed above the main heading and content.
 * @var string $card_link_url An optional URL for link over the entire card.
 * @var string $card_link_alt Alt text for the card link.
 * @var array $icon_data An array of icon data (e.g. `icon`, `title`, `size`, `label`, etc.)
 * @var array $button_data An array of button data (e.g. `text`, `attributes`, etc.)
 * @var Drupal\Core\Template\Attribute|array $attributes Attributes (class, data, etc.) for the entire card.
 * @var Drupal\Core\Template\Attribute|array $content_attributes Attributes for the card content region.
 * @var Drupal\Core\Template\Attribute|array $link_attributes Attributes for the card link.
 *
 * @see https://www.figma.com/file/uFwXUY837P752PL8MndgBN/ILR-Design-System?node-id=380%3A1454 Card Below/Text Right (AKA Popout) in Figma
 */
#}
{% set attributes = union_attributes(attributes|default([])) %}
{% set content_attributes = union_attributes(content_attributes|default([])) %}
{% set link_attributes = union_attributes(link_attributes|default([])) %}

<div{{ attributes.addClass(['cu-card']) }}>
  <div{{ content_attributes.addClass(['cu-card__content']) }}>
    {% if icon_data or eyebrow_heading or heading %}
    <div class="cu-card__meta">
      {% if icon_data %}
      {% include '@union/_icon.twig' with icon_data only %}
      {% endif %}
      {% if eyebrow_heading %}
      <div class="cu-card__eyebrow-heading cu-heading">{{ eyebrow_heading }}</div>
      {% endif %}
      {% if heading %}
      <h2 class="cu-card__heading cu-heading">{{ heading }}</h2>
      {% endif %}
    </div>
    {% endif %}
    {{ card_content }}
    {% if button_data %}
    {% include '@union/_button.twig' with button_data only %}
      {# attributes: link_attributes.addClass('cu-card__button') #}
    {% endif %}
  </div>
{% if card_media %}
  <div class="cu-card__media">
    {{ card_media }}
  </div>
{% endif %}
{% if card_link_url %}
  <a{{ link_attributes.addClass(['cu-card__link']) }} href="{{ card_link_url }}">{{ card_link_alt }}</a>
{% endif %}
</div>
