{#
/**
 * Breadcrumb
 *
 * A breadcrumb is a list of links that navigate a user up the content hierarchy back to the home page.
 *
 * @var array $breadcrumb An array of item objects. Each item should have a `url` and `text` property.
 * @var Drupal\Core\Template\Attribute|array $attributes Attributes (class, data, etc.) for the breadcrumb wrapper.
 *
 * @requires base
 */
#}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-breadcrumb']) %}
{% set attributes = attributes.setAttribute('aria-labelledby', 'system-breadcrumb') %}

<nav{{ attributes }}>
  <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb' }}</h2>
  <ol class="cu-breadcrumb__list">
  {% for item in breadcrumb %}
    <li class="cu-breadcrumb__item">
      {% if item.url %}
        <a href="{{ item.url }}" class="cu-breadcrumb__link">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
  </ol>
</nav>
