{#
A wrapper for a form element that includes a label, description, inline errors, etc.

Available variables:
  - attributes (object) - A Drupal attributes object for the input element.
  - labelDisplay (enum) - Where the label should be displayed
      before
      float - Default. Enhanced by js. @see form.js
  - children (renderable) - The form inputs .
  - hasErrors (string) - Server-side errors
  - descriptionText (string) - An optional description for this element
  - required (boolean) - whether the element is required
#}

{% set labelDisplay = labelDisplay | default('float') %}
{% set baseClass = 'cu-input-list__item' %}
{% set requireModifier = (required)
  ? '--required'
  : '--optional'
%}

{% set _classes = [baseClass, baseClass ~ '--' ~ type, baseClass ~ requireModifier ]%}

{% if (labelDisplay == 'float') %}
  {% set _classes = _classes|merge(['has-float-label', 'js-disabled']) %}
{% elseif (labelDisplay == 'before') %}
{% set _classes = _classes|merge([baseClass ~ '--before']) %}

{% else %}
{% set _classes = _classes|merge([baseClass ~ '--label-hidden']) %}

{% endif %}

{% set attributes = attributes.addClass(_classes) %}

<div{{ attributes }}>
  {{ label }}

  {{ children }}

  {% if errors %}
    <div class="cu-input-message cu-input-message--invalid">
      {{ errors }}
    </div>
  {% endif %}

  {% if descriptionText %}
    <div class="cu-input-message">
      {{ descriptionText }}
    </div>
  {% endif %}
</div>
