{{ attach_library('union_organizer/icon') }}

{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-icon']) %}

<div{{ attributes }}>
  {% if size %}
    {% set width_attr = 'width="' ~ size ~ '"' %}
  {% endif %}

  <svg class="cu-icon__image cu-icon__image--{{ icon }}" viewBox="0 0 100 100"{{ width_attr }} xmlns="http://www.w3.org/2000/svg">
    <title>{{ title }} Icon</title>
    <use href="{{ union_file('/images/icons.svg') }}#{{ icon }}" />
  </svg>
  {% if label %}<div class="cu-icon__label">{{ label }}</div>{% endif %}
</div>
