{{ attach_library('union_organizer/topic-list') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-topic-list']) %}

<div{{ attributes }}>
  <div class="cu-topic-list__content">
    <div class="cu-topic-list__heading">
      {{ heading }}
    </div>
    <div class="cu-topic-list__subheading">
      {{ subheading }}
    </div>
    <div class="cu-topic-list__description">
      {{ description }}
    </div>
    {% if link %}
    <div class="cu-topic-list__link">
      {{ link }}
    </div>
    {% endif %}
    <ul class="cu-topic-list__items">
    {% for item in items %}
      <li class="cu-topic-list__item">
        <a class="cu-topic-list__item-link" href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% if media %}
  <div class="cu-topic-list__media">
    {{ media }}
  </div>
  {% endif %}
</div>
