{{ attach_library('union_organizer/person') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-person']) %}

<div{{ attributes }}>
  <div class="cu-person__info">
    <h3 class="cu-heading cu-person__name">{{ name }}</h3>
    {% if title is iterable %}
    <ul class="cu-person__titles">
      {% for title_item in title %}
      <li class="cu-person__title">{{ title_item }}</li>
      {% endfor %}
    </ul>
    {% elseif title %}
    <ul class="cu-person__titles">
      <li class="cu-person__title">{{ title }}</li>
    </ul>
    {% endif %}
    {% if email %}
    <div class="cu-person__email">
        {{ email }}
    </div>
    {% endif %}
    {% if phone %}
    <div class="cu-person__phone">
      {{ phone }}
    </div>
    {% endif %}
  </div>
  {% if img %}
  <div class="cu-person__image">
    {{ img }}
  </div>
  {% endif %}
  <div class="cu-person__content">
    {{ content }}
  </div>
</div>
